# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Data and Simulation Outputs
outputs/
data_local/
*.parquet
*.gpkg
*.csv
*.xlsx

# Image outputs
*.png
*.html

# IDEs
.vscode/
.idea/

# Notebook checkpoints
.ipynb_checkpoints/
